<div >
    <a href="/basket"><br>View Basket<br><br><br></a>
    <br>
</div>



<div class = 'product'>
<h3>{{product.title}}</h3>
<img src='{{product.image}}' alt='{{product.title}}' />
<div class='promo-blocks__actions'>
    <a href='/products/{{product.id}}/add' data-id='{{product.id}}' class='anchor--button'>
        Add Basket
    </a>
    <h4>{{product.price}}</h4>
    <h5>{{product.description}}</h5>
</div>
</div>

