<center>
  <div>
    <div>

      <a href="/basket"><br />View Basket<br /><br /><br /></a>
      <br />
    </div>

    <div class="product">
      <h3>{{product.title}}</h3>
      <img src="{{product.image}}" alt="{{product.title}}" />
      <div class="promo-blocks__actions">
        <div>
          <button
            type="button"
            data-id="{{product.id}}"
            onClick='addToBasket("{{product.id}}")'
          >
            Add To Basket
          </button>

          <br />

        </div>

        <div>
          <div>
            <h4>£ {{product.price}}</h4>

            <h5>{{product.description}}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</center>