<div >
    <a href="/basket"><br>View Basket<br><br><br></a>
    <br>
</div>




<h3>{{products.title}}</h3>
<img src='{{products.image}}' alt='{{products.title}}' />
<div class='promo-blocks__actions'>
    <a href='/products/{{products.id}}/add' data-id='{{products.id}}' class='anchor--button'>
        Add Basket
    </a>
    <h4>{{products.price}}</h4>
    <h5>{{products.description}}</h5>
</div>
</div>

